.artStorePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainContent{
    display: flex;
    margin-top: 100px;
}

.testText{
    margin-top: 100px;
    /* width: 700px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    margin: 30;
}

.testText p{
    width: 700px;
    text-align: center;
}

.cards{
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 100px 30px;
    flex: 1;
    border-right: 1px solid var(--black);
}