.fashionStore{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fashionStoreCardContainer{
    /* margin-top: 50px; */
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 30px;
    flex: 1;
}

.pagination{
    display: flex;
    align-items: center;
}

.noItemsMessage{
    margin-top: 100px;
}