/* Card Container */
.card {
    display: flex;
    flex-direction: column;
    width: 302px;
}

.cardImageDiv {
    border: .1px solid rgba(0, 0, 0, 0.208);
    position: relative;
    height: 400px;
    width: 300px;
    overflow: hidden; /* Ensures any overflow is hidden */
}

.cardImageDiv:hover{
    cursor: pointer;
}

.cardImage {
    width: 100%; /* Ensures the image takes the full width of the container */
    height: 100%; /* Ensures the image takes the full height of the container */
    object-fit: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
    object-position: center;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.cardPrice, .cardName{
    font-size: 17px;
}

.cardName {
    margin-bottom: 0;
    font-weight: lighter;
}

.cardDescription {
    margin-top: 10px;
}

.cardPrice {
    margin: 0;
}

/* out of stock style */
.outOfStockLabel{
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 300px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 10px 0;
    color: var(--white);
}