/* src/styles/ImagePopUp.css */
.imagePopUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden; /* Prevents scrolling in the overlay */
}

.imagePopUpContent {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Prevents overflow of the image */
}

.imagePopUpImage {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 80vh; /* Limit the height to avoid overflow */
    object-fit: contain;
}

.imagePopUpCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
}

.imagePopUpCarouselButtonDiv {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
    width: 100%;
    opacity: 1;
    margin-right: 20px;
}

.imagePopUpCarouselButton{
    all: unset;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
    background-color: black;
    padding: 5px;
    margin: 0 20px;
}

.imagePopUpCarouselButton{
    opacity: .7;
}