.selectLanguagePage{
    position: fixed;
    height: 100%;
    background-color:var(--black);
    z-index: 2000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: var(--white);
    overflow: hidden;
    flex-direction: column;
}

.selectLanguagePageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.selectLanguagePageHeaders{
    word-spacing: 7px;
}

.selectLanguagePage h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
}

.selectLanguagePage h3{
    text-transform: uppercase;
    font-size: 25px;
}

.languageButtons{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.languageButton{
    display: flex;
    flex-direction: column;
}

.languageFlag{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--white);
}

.languageFlag:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: .5s;
}

.languageButtons p{
    margin-bottom: 0;
}

/* notice */
.notice{
    direction: rtl;
    /* margin-top: 130px; */
    font-size: 20px;
}

.notice p{
    margin: 0;
}

.noticeHostages{
    margin-top: 30px;
}