.socialMediaBlock{
    background-color: white;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMediaIcons{
    padding: 0;
}

.icon:hover{
    transform: scale(110%);
    transition: 0.5s;
}

.socialMediaIcons li:not(:last-child){
    margin-bottom: 100px;
}