.youMayAlsoLikeDiv{
    margin: 50px 0;
    /* height: 500px; */
    width: 80%;
    text-align: center;
    /* background-color: yellow; */
    text-transform: uppercase;
    font-family: var(--body-font);
}

.youMayAlsoLikeCardsContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
}