.designers {
    margin-top: 150px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    /* padding-bottom: 40px; */
    position: relative; /* Ensure the container is positioned relative to use the pseudo-element */
}

/* Create the border effect at the bottom */
.designers::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30%; /* Center the border horizontally */
    width: 40%; /* Border width as a percentage of the container width */
    height: 0.5px; /* Border thickness */
    /* background-color: var(--black);  */
}

/* Designer heading styling */
.designersHeading {
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
}

/* Container for the images of designers */
.desginersImages {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/* Container for each individual designer */
.designerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}

/* Designer image styling */
.designerImage {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 100px;
    object-position: center;
    filter: grayscale(100%); /* Makes the image black and white */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition for the filter and scaling */
}

/* Scale the image slightly on hover */
.designerImage:hover {
    transform: scale(105%);
}

/* Removes the grayscale filter, restoring the original colors when the image is clicked */
.designerImage.colorful {
    filter: none;
}

/* Designer name styling */
.designerName {
    font-size: 1rem;
    color: var(--black);
    opacity: 0; /* Initially hide the name */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for opacity */
    transform: translateY(10px); /* Slightly move the name down initially */
    margin: 0;
    font-weight: bold;
    width: 130px;
    text-align: center;
    font-size: 110%;
}

/* Company name styling (similar to designerName) */
.companyName {
    /* font-size: 1rem; */
    opacity: 0; /* Initially hide the company name */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for opacity */
    transform: translateY(35px); 
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    width: 130px;
}

/* Display both name and company when hovering over the designer container */
.designerContainer:hover .designerName, .designerContainer:hover .companyName,
.designerName.visible, .companyName.visible {
    opacity: 1; /* Show the name and company */
    transform: translateY(10); /* Move the name and company to their original position */
}

/* Designers text section */
.desingersText {
    text-align: justify;
    margin-top: 50px;
    /* height: 150px; */
}

.desingersText p {
    margin: 0;
}
