.errorPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.errorPageSubText{
    font-size: 30px;
}

.errorPage a{
    text-decoration: underline;
}