/* Container */
#contactUs {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 1px solid var(--black); */
    margin: 10px 5px;
    padding: 20px;
}

/* Contact Us Division */
.contactUsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 90%;
}

/* Heading */
.contactUsDiv h2 {
    margin: 0;
    font-size: 40px;
    font-family: var(--headers-font);
    text-align: center; /* Center-align heading text */
}

/* Paragraph */
.contactUsDiv p {
    margin-bottom: 0;
    text-align: center; /* Center-align paragraph text */
}

/* Inputs Section */
.contactUsInput {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Input Fields */
.contactUsInput input {
    all: unset;
    text-transform: uppercase;
    border: 1px solid var(--black);
    font-family: var(--body-font);
    padding: 5px;
    background-color: var(--white);
}

/* Textarea */
.contactUsTextarea {
    background-color: var(--white);
    resize: none; /* Disable resizing */
    padding-bottom: 100px;
    padding-left: 5px;
    padding-top: 5px;
    border-color: var(--black);
}

.contactUsTextarea::placeholder{
    text-transform: uppercase;
    font-family: var(--body-font);
    font-size: 16px;
}

/* Send Button */
.contactUsButton{
    all: unset;
    background-color: var(--white);
    padding: 10px 0;
    width: 100%;
    border: 1px solid var(--black);
    text-align: center;
    font-family: var(--body-font);
}

.contactUsButtonSent{
    background-color: var(--black);
    color: var(--white);
    transition: .5s;
    padding: 10px 0;
    border: none;
}

.contactUsButton:hover{
    cursor: pointer;
}

/* Right-aligned text for Hebrew */
.textRight {
    text-align: right; /* Align text to the right */
}

/* General text alignment for other languages */
.textLeft {
    text-align: left; /* Align text to the left */
}

/* Right-aligned placeholder text for Hebrew */
.placeholderRight::placeholder {
    text-align: right; /* Align placeholder text to the right */
}

/* General placeholder alignment for other languages */
.placeholderLeft::placeholder {
    text-align: left; /* Align placeholder text to the left */
}

/* Icons Section */
.contactUsDivIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

/* Icon Styling */
.icon {
    cursor: pointer; /* Pointer cursor on hover */
}

/* erro text */
.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
    font-family: var(--body-font);
}